:root > * {
    --md-code-hl-color: #4287ff;
    --md-code-hl-color--light: #4287ff11;
}

.highlight .hll {
    background-color: var(--md-code-hl-color--light);
    box-shadow: 2px 0 0 0 var(--md-code-hl-color) inset;
}