
.LinkTableCell {
    padding: 0 !important;

    a {
        display: block;
        color: inherit;
        text-decoration: inherit;
        height: 100%;
    }

    a > div {
        padding: 16px;
    }
}