
.CacheTable {
    td {
        white-space: nowrap;
    }

    td:nth-child(2) {
        width: 500px;
        white-space: normal;
    }

    td:last-child {
        text-align: center;
        width: 200px;
    }
}