.Page {

    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;


}

.NonFilled {
    width: 1200px;
    align-self: center;
}

.Filled {
    width: 100%;
}

.PageHeader {
    position: relative;
}

.PageLoadingIndicator {
    position: absolute;
    left: 0;
    right: 0;
}