body {
    background: hsla(215, 15%, 97%, 0.5);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    padding: 2px 4px;
    color: hsl(215, 15%, 12%);
    background-color: hsl(215, 15%, 97%);
    border: 1px solid hsl(215, 15%, 89%);
    border-radius: 6px;
}