.FeatureTogglesTable {
    white-space: nowrap;


    td:first-child, th:first-child {
        width: 150px;
        text-align: center;
        vertical-align: middle;
    }


    td:nth-child(2) {
        width: 500px;
        white-space: normal;
    }

    td:last-child {
        text-align: right;
        width: 150px;
    }
}